* {
    box-sizing: border-box;
    margin: 0px;
  }

body {
    direction: rtl;
    text-align: right;
    background-color: white;
    font-family: 'arial';
}

div.head-bar {
  position: relative;
  height: 90px;
  background-color: rgb(144, 144, 144);
}

div.head-content {
  position: relative;
  width: 900px;
  margin: auto;
}

div.search-row {
  position: absolute;
  top: 20px;
  left: 0px;
  border: 0px;
}

div.search-row > a > img.search {
  float: left;
}

.english {
  float: right;
  padding-left: 10px;
  margin-top: 3px;
  color: white;
  font-size: 12px;
  text-decoration: none;
}

div.search-row > input {
  text-align: right;
  float: left;
  width: 135px;
  border: 0px;
  margin: 1px;
  padding-right: 2px;
  border-top-right-radius: 10px;
}

div.head-addon {
  top: 190;
  height: 15px;
  background-image: linear-gradient(to bottom, rgb(144, 144, 144), rgb(168, 168, 168));
}

div.menu-row {
  height: 90px;
}

nav.main-nav {
  float: left;
  position: absolute;
  bottom: 0px;
  left:0px;
}

nav.main-nav > ul {
  position: relative;
  margin-right: 50px;
  float: right;
  list-style: none;
  padding-inline-start: 0px;
}

nav.main-nav > ul > li {
  position: relative;
  display: inline;
}

nav.main-nav > img {
  position: absolute;
  bottom: -35px;
  right: -60px;
}

nav.main-nav > ul > li > a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: white;
  width: 100%;
  height: 100%;
  padding-right: 30px;
  padding-top: 15px;
}

nav.main-nav > ul > li > img.sep {
  position: absolute;
  right: 10px;
}

nav.main-nav > ul > li > a:hover {
  color: rgb(0,92,156);
  text-decoration: underline;
}

.dropdown {
  position: relative;
}

.drop-content {
  position: absolute;
  top: 15px;
  right: 20px;
  display: none;
  z-index: 25;
  padding: 4px;
}

.drop-content > ul {
  list-style: none;
  background-color: rgb(144, 144, 144);
  padding-inline-start: 0px;
  padding: 4px;
}

nav.drop-content > ul > li {
  border-bottom: 1px lightgrey solid;
  text-decoration: none;
  white-space: nowrap;
}

nav.drop-content > ul > li > a {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  padding: 5px;
  background-color: rgb(144, 144, 144);
}

nav.drop-content > ul > li:last-child {
  border-bottom: none;
}

.dropdown:hover > .drop-content {
  display: block;
}

nav.drop-content > ul > li > a:hover {
  background-color: rgb(188, 188, 188);
  color: rgb(0,92,160);
}

div.main-content {
  position: relative;
  margin: auto;
  padding-top: 30px;
  width: 900px;
}

div.top {
  position: relative;
  float: left;
  height: 353px;
  width: 270px;
  border-bottom-right-radius: 20px;
  margin-right: 30px;
}

div#top-left {
  background-image: url(images/top-left.jpg)
}

div#top-middle {
  background-image: url(images/top-middle.jpg)
}

div#top-right {
  background-image: url(images/top-right.jpg)
}

div.inner {
  position: absolute;
  height: 96px;
  width: 245px;
  background-color: rgba(155,155,155,.8);
  border-bottom-right-radius: 20px;
  right: 5px;
  bottom: 5px;
  color: white;
  font-size: 13px;
  padding: 6px;
}

div.inner > h2 {
  font-weight: bold;
}


div.bottom {
  float: left;
  height: 213px;
  width: 270px;
  border-top-right-radius: 20px;
  margin-top: 20px;
  margin-right: 30px;
  border: 1px rgb(236,236,236) solid;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(236, 236, 236));
}

div.more {
  float: left;
  position: absolute;
  bottom: 5px;
  left: 5px;
  background-image: url("images/read_more_white.png");
  background-position-x: left;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

div.more > a {
  color: white;
  margin-left: 12px;
}

div.more:hover {
  background-image: url("images/read_more_blue.png");
  background-position-x: left;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

div.more:hover > a {
  color: rgb(0,92,156);
}

div.more2 {
  float: left;
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
  background-image: url("images/read_more_yellow.png");
  background-position-x: left;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

div.more2 > a {
  color: rgb(0,92,160);
  font-size: 13px;
  margin-left: 12px;
}

div.more2:hover {
  background-image: url("images/read_more_blue.png");
  background-position-x: left;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

div.more3 {
  display: block;
  position: relative;
  margin-top: 5px;
  margin-right: 15px;
  background-image: url("images/read_more_yellow.png");
  background-position-x: 215px;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

div.more3 > a {
  color: black;
  font-size: 13px;
}

div.more3:hover {
  background-image: url("images/read_more_blue.png");
  background-position-x: 215px;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

#english {
  direction: ltr;
}

div.ad-img {
  width: 250px;
  margin: auto;
  margin-top: 10px;
}

div#map {
  position: relative;
  left: 0px;
}

div#map > img {
  position: absolute;
  left: 10px;
}

div.extra-space {
  float: left;
  margin-top: 20px; 
  width: 100%;
  height: 40px;
}

div.title {
  /* float: left; */
  border-bottom: lightgrey 2px solid;
  width: 245px;
  height: 33px;
  text-align: right;
  margin: auto;
  font-size: 14px;
  font-weight: bold;
  padding-top: 8px;
}

footer {
  position: fixed;
  height: 38px;
  background-color: grey;
  width: 100%;
  bottom: 0px;
}

.foot-menu {
  width: 900px;
  margin: auto;
}

.foot-menu > ul {
  margin-top: 12px;
  color: white;
  float: right;
  list-style: none;
}

.foot-menu > ul > li {
  display: inline;
}

.foot-menu > ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  margin-bottom: 8px;
}

.foot-menu > ul > li > a > img {
  float: right;
  margin-left: 4px;
}

#settlement {
  color: darkred;
}

/* about page */

div.about-left {
  float: left;
  height: 168px;
  width: 291px;
  border-top-right-radius: 20px;
  margin-top: 20px;
  margin-right: 25px;
  border: 1px rgb(236,236,236) solid;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(236, 236, 236));
}

div.about-middle {
  float: left;
  width:440px;
  margin-right: 25px;
}

div.about-right {
  float: left;
  width:121px;
}