* {
    box-sizing: border-box;
    margin: 0px;
  }

body {
    direction: rtl;
    text-align: right;
    background-color: white;
    font-family: 'arial';
}

div.head-bar {
  position: relative;
  height: 90px;
  background-color: rgb(144, 144, 144);
}

div.head-content {
  position: relative;
  width: 900px;
  margin: auto;
}

div.search-row {
  position: absolute;
  top: 20px;
  left: 0px;
  border: 0px;
}

div.search-row > a > img.search {
  float: left;
}

.english {
  float: right;
  padding-left: 10px;
  margin-top: 3px;
  color: white;
  font-size: 12px;
  text-decoration: none;
}

div.search-row > input {
  text-align: right;
  float: left;
  width: 135px;
  border: 0px;
  margin: 1px;
  padding-right: 2px;
  border-top-right-radius: 10px;
}

div.head-addon {
  /* position: absolute; */
  top: 190;
  height: 15px;
  background-image: linear-gradient(to bottom, rgb(144, 144, 144), rgb(168, 168, 168));
}

div.menu-row {
  height: 90px;
}

div.menu {
  float: left;
  position: absolute;
  bottom: 0px;
  left:0px;
}

div.menu > ul {
  margin-right: 50px;
  float: right;
  list-style: none;
  padding-inline-start: 0px;
}

div.menu > ul > li {
  position: relative;
  display: inline;
}

div.menu > img {
  position: absolute;
  bottom: -35px;
  right: -60px;
}

div.menu > ul > li > a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: white;
  width: 100%;
  height: 100%;
  padding-right: 30px;
  padding-top: 15px;
}

div.menu > ul > li > img.sep {
  position: absolute;
  right: 10px;
}

div.menu > ul > li > a:hover {
  color: rgb(0,92,156);
  text-decoration: underline;
}

div.main-content {
  position: relative;
  margin: auto;
  padding-top: 30px;
  width: 900px;
}


div.top {
  position: relative;
  float: left;
  height: 353px;
  width: 270px;
  border-bottom-right-radius: 20px;
  margin-right: 30px;
}

div#top-left {
  background-image: url(images/top-left.jpg)
}

div#top-middle {
  background-image: url(images/top-middle.jpg)
}

div#top-right {
  background-image: url(images/top-right.jpg)
}

div.inner {
  position: absolute;
  height: 96px;
  width: 245px;
  background-color: rgba(155,155,155,.8);
  border-bottom-right-radius: 20px;
  right: 5px;
  bottom: 5px;
  color: white;
  font-size: 13px;
  padding: 6px;
}

div.inner > h2 {
  font-weight: bold;
}


div.bottom {
  float: left;
  height: 213px;
  width: 270px;
  border-top-right-radius: 20px;
  margin-top: 20px;
  margin-right: 30px;
  border: 1px rgb(236,236,236) solid;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(236, 236, 236));
}

div.more {
  float: left;
  /* text-decoration-color: white; */
  position: absolute;
  /* color: white; */
  bottom: 5px;
  left: 5px;
}

div.more > a {
  color: white;
}

div.more > a > img {
  margin-right: 3px;
}

div.more2 {
  float: left;
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
}

div.more2 > a {
  color: black;
  font-size: 13px;
}

div.more2 > a > img {
  margin-right: 3px;
}

div.more3 {
  display: block;
  position: relative;
  margin-top: 5px;
  margin-right: 15px;
}

div.more3 > a {
  color: black;
  font-size: 13px;
}

div.more3 > a > img {
  margin-right: 3px;
}


#english {
  direction: ltr;
}

div.ad-img {
  width: 250px;
  margin: auto;
  margin-top: 10px;
}

div#map {
  position: relative;
  left: 0px;
}

div#map > img {
  position: absolute;
  left: 10px;
}

div.extra-space {
  float: left;
  margin-top: 20px; 
  width: 100%;
  height: 40px;
}

div.title {
  /* float: left; */
  border-bottom: lightgrey 2px solid;
  width: 245px;
  height: 33px;
  text-align: right;
  margin: auto;
  font-size: 14px;
  font-weight: bold;
  padding-top: 8px;
}

footer {
  position: fixed;
  height: 38px;
  background-color: grey;
  width: 100%;
  bottom: 0px;
}

.foot-menu {
  width: 900px;
  /* padding-top: 10px; */
  margin: auto;
}

.foot-menu > ul {
  /* margin-right: 50px; */
  color: white;
  float: right;
  list-style: none;
  /* padding-inline-start: 0px; */
}

.foot-menu > ul > li {
  /* position: relative; */
  display: inline;
}

.foot-menu > ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  margin-bottom: 8px;
}

.foot-menu > ul > li > a > img {

  padding-top: 4px;
}

#settlement {
  color: darkred;
}
