* {
    box-sizing: border-box;
    margin: 0px;
  }

body {
    direction: rtl;
    text-align: right;
    background-color: white;
    font-family: 'arial';
}

div.head-bar {
  position: relative;
  height: 90px;
  background-color: rgb(144, 144, 144);
}

div.head-content {
  position: relative;
  width: 900px;
  margin: auto;
}

div.search-row {
  position: absolute;
  top: 20px;
  left: 0px;
  border: 0px;
}

div.search-row > a > img.search {
  float: left;
}

.english {
  float: right;
  padding-left: 10px;
  margin-top: 3px;
  color: white;
  font-size: 12px;
  text-decoration: none;
}

div.search-row > input {
  text-align: right;
  float: left;
  width: 135px;
  border: 0px;
  margin: 1px;
  border-top-right-radius: 10px;
}

div.head-addon {
  /* position: absolute; */
  top: 190;
  height: 15px;
  background-image: linear-gradient(to bottom, rgb(144, 144, 144), rgb(168, 168, 168));
}

/* div.menu-row {
  float: left;
} */

div.menu-row {
  height: 90px;
}

div.menu {
  float: left;
  position: absolute;
  bottom: 0px;
  left:0px;
}

div.menu > ul {
  margin-right: 50px;
  float: right;
  list-style: none;
  padding-inline-start: 0px;
}

div.menu > ul > li {
  position: relative;
  display: inline;
}

div.menu > img {
  position: absolute;
  bottom: -35px;
  right: -60px;
}

div.menu > ul > li > a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: white;
  width: 100%;
  height: 100%;
  padding-right: 30px;
  padding-top: 15px;
}

div.menu > ul > li > img.sep {
  position: absolute;
  right: 10px;
}

div.menu > ul > li > a:hover {
  color: rgb(0,92,156);
  text-decoration: underline;
}

div.main-content {
  width: 900;
}

