* {
    box-sizing: border-box;
    margin: 0px;
  }

body {
    /* direction: rtl; */
    /* text-align: right; */
    background-color: white;
    font-family: 'arial';
}

div.head-bar {
  position: relative;
  height: 90px;
  background-color: rgb(144, 144, 144);
}

div.head-content {
  width: 900px;
  margin: auto;
}

div.search-row {
  position: absolute;
  top: 20px;
  border: 0px;
}

.english {
  float: right;
  padding-left: 10px;
  margin-top: 3px;
  color: white;
  font-size: 12px;
  text-decoration: none;
}

div.search-row > input {
  float: right;
  width: 135px;
  border: 0px;
  margin: 1px;
  border-top-right-radius: 10px;
}

div.head-addon {
  /* position: absolute; */
  top: 190;
  height: 15px;
  background-image: linear-gradient(to bottom, rgb(144, 144, 144), rgb(168, 168, 168));
}

div.menu {
  position: absolute;
  bottom: 1px;
}
div.menu > ul {
  /* direction: rtl; */
  /* left: 0px; */
  margin-right: 50px;
  float: right;
  list-style: none;
  padding-inline-start: 0px;
  /* width: 970px; */
}

div.menu > ul > li {
  display: inline;
}

div.menu > ul > li > a {
  /* display: block; */
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: white;
  width: 100%;
  height: 100%;
  padding-right: 30px;
  padding-top: 15px;
}

div.menu > ul > li > a:hover {
  color: rgb(0,92,156);
  text-decoration: underline;
}

